# WalletConnect Project ID
# Get your project ID from https://cloud.walletconnect.com/
VITE_WALLETCONNECT_PROJECT_ID=your_project_id_here
VITE_ARCADE_FREE_MODE=true
VITE_ARCADE_PAYMENT_RECIPIENT_ADDRESS=0x8132139D4ec3f68Cd3eddE9baF9d2137edca5849
VITE_CIRCLES_RPC_URL=https://rpc.aboutcircles.com/
VITE_GNOSIS_TRANSFER_BASE_URL=https://app.gnosis.io
VITE_ARCADE_PAYMENT_POLL_INTERVAL_MS=5000
